{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {% include '@SyliusShop/Vehicle/breadcrumb.html.twig' %}

    <div class="d-flex flex-column flex-md-row">
        {% set hasSidebar = block('sidebar') is defined %}

        {% if hasSidebar %}
            {% set _sidebar = block('sidebar') %}

            <div class="col-12 col-md-3 px-0 pr-md-3 mb-4 mb-md-0">
                {{ _sidebar|raw }}
            </div>
        {% endif %}

        <div class="px-0 {{ hasSidebar ? 'col-12 col-md-9 pl-md-3' : 'col-12' }}">
            {% block vehicleContent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
