{% extends '@SyliusShop/layout.html.twig' %}

{% block title %} | {{ 'vehicle.ui.parts_by_manufacturer'|trans }}{% endblock %}


{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

{% block content %}
    {% set visualLinks = ['audi', 'bmw', 'ford', 'mercedes-benz', 'opel', 'peugeot', 'renault', 'toyota', 'vw', 'volvo'] %}
    {% set selectEl %}
        <select class="dropdown-navigate-on-select" data-placeholder="{{ 'vehicle.ui.manufacturer'|trans }}">
            <option value=""></option>

            {% for manufacturer in manufacturers %}
                <option value="{{ manufacturer.url }}">
                    {{ manufacturer.title }}
                </option>
            {% endfor %}
        </select>
    {% endset %}

    {{ headers.headerLeftRawRight(
        'vehicle.ui.parts_by_manufacturer'|trans,
        selectEl
    ) }}

    <div class="vehicles-manufacturers-logos d-flex justify-content-between flex-wrap">
        {% for manufacturer in manufacturers %}
            {% if manufacturer.title|lower in visualLinks %}
                <a
                   title="{{ manufacturer.title }}"
                   href="{{ manufacturer.url }}"
                >
                    <img class="icon-svg" src="{{ asset('ad-theme/images/vehicle-brands/%s.svg'|format(manufacturer.title|lower), 'ADTheme') }}" alt="">
                </a>
            {% endif %}
        {% endfor %}
    </div>

    {% set manufacturerToggleClass = 'manufacturer-to-toggle' %}
    <div class="vehicles-manufacturers-list mt-4">
        {% for manufacturer in manufacturers %}
            <a
                class="d-block my-2 {{ manufacturer.isPopular ? '' : manufacturerToggleClass ~ ' hide' }}"
                href="{{ manufacturer.url }}"
            >
                {{ manufacturer.title }}
            </a>
        {% endfor %}
    </div>

    <div class="d-flex w-100 mt-3">
        <button
                class="toggle-by-selector btn btn-primary mx-auto"
                data-toggleselector=".{{ manufacturerToggleClass }}"
                data-showmore="{{ 'app.ui.show_more'|trans }}"
                data-showless="{{ 'app.ui.show_less'|trans }}"
                onclick="toggleButtonText(this)"
        >{{ 'app.ui.show_more'|trans }}</button>
    </div>

    <script>
        function toggleButtonText (button) {
          if (button.innerText === button.dataset.showmore) {
            button.innerText = button.dataset.showless;
            return;
          }

          button.innerText = button.dataset.showmore;
        }
    </script>
{% endblock %}
