{% extends '@SyliusShop/Vehicle/layout.html.twig' %}

{% block title %} | {{ 'vehicle.ui.x_manufacturer_parts'|trans({ 'manufacturer': manufacturer.title }) }}{% endblock %}

{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

{% block sidebar %}
    {% include '@SyliusShop/Vehicle/sidebar.html.twig' with {
        'manufacturer': manufacturer,
    } %}
{% endblock %}

{% block vehicleContent %}
    {% set selectEl %}
        <select class="dropdown-navigate-on-select" data-placeholder="{{ 'vehicle.ui.model'|trans }}">
            <option value=""></option>

            {% for model in models %}
                <option value="{{ path_vehicle_model(manufacturer, model) }}">
                    {{ model.title }}
                </option>
            {% endfor %}
        </select>
    {% endset %}

    {{ headers.headerLeftRawRight(
        'vehicle.ui.x_manufacturer_parts'|trans({ 'manufacturer': manufacturer.title }),
        selectEl
    ) }}

    <table id="models_table" class="table filterable-columns-table clickable-rows bold-thead-placeholders table-borderless-head">
        <thead>
            <tr>
                <th class="sticky-to-header bg-white">
                    <input class="form-control" type="text" placeholder="{{ 'vehicle.ui.model_name'|trans }}">
                </th>
                <th class="sticky-to-header bg-white">
                    <input class="form-control" type="text" placeholder="{{ 'vehicle.ui.model_from'|trans }}">
                </th>
                <th class="sticky-to-header bg-white">
                    <input class="form-control" type="text" placeholder="{{ 'vehicle.ui.model_to'|trans }}">
                </th>
            </tr>
        </thead>

        <tbody>
            {% for model in models %}
                <tr class="cursor-pointer" onclick="window.location = '{{ path_vehicle_model(manufacturer, model) }}'">
                    <td>{{ model.title }}</td>
                    <td>{{ model.yearOfConstructionFrom|date('Y-m-d') }}</td>
                    <td>{{ model.yearOfConstructionTo|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
