.em-dimensions-1-5 {
  width: 1.5em;
  height: 1.5em;
}

.em-dimensions-3 {
  width: 3em;
  height: 3em;
}

.w-min-content {
  width: min-content;
}

.line-height-1 {
  line-height: 1;
}

.hide {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.clickable-rows :not(thead) tr:hover {
  text-decoration: underline;
  color: $link-hover-color;
}

.bold-thead-placeholders thead input::placeholder {
  font-weight: bold;
}

.sticky-to-header {
  position: sticky;
  top: $header-height;
  z-index: $zindex-sticky - 1;
}

.table-borderless-head {
  thead th {
    border: none;
  }

  :not(thead) tr:first-child {
    td, th {
      border: none;
    }
  }
}

.text-strikethrough {
  text-decoration: line-through;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.h-0 {
  height: 0;
}

.pb-100 {
  padding-bottom: 100%;
}

.ucfirst:first-letter {
  text-transform: uppercase;
}

.font-size-inherit {
  font-size: inherit;
}
