.cookie-modal {
  z-index: $zindex-modal-backdrop !important;
}

.ch-cookie-consent {
  z-index: $zindex-modal !important;
}

.ch-cookie-consent__category {
  border-bottom: $border-width solid $border-color !important;
}

.ch-cookie-consent__category:first-child {
  border-top: $border-width solid $border-color !important;;
}

.ch-cookie-consent__category-toggle input+label {
  border: $border-width solid $border-color !important;;
}

.ch-cookie-consent__category-toggle input:checked+label,
.ch-cookie-consent__category-toggle input+label:hover {
  border-color: $border-color !important;
  background-color: $primary !important;
}
