.swiper-container {
    padding: 14px;
}

.swiper-slide {
    height: auto;
}

.slide-card {
    transition: transform 0.15s ease;

    .slide-card-body {
        padding: 12px 16px;
    }

    h6 {
        font-size: 1rem;
        font-weight: 400;
    }

    .slide-card-price {
        font-size: 1.05rem;
        font-weight: bold;
        color: black;
    }

    .slide-card-image {
        background-repeat:no-repeat;
        background-position: center;
        background-size: contain;
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
    }
}


.swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 40px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
    background-color: white;
    color: black;
    &::after {
        content: none;
    }
}
