<div style="display: flex;flex-wrap: wrap; align-items: center">
    <div class="ui right stackable inverted menu d-flex" style="margin-right: 20px">
        <div class="ui right pointing inverted item d-inline-block">
            <form action="{{ path('omni_sylius_search') }}" class="input-group" method="get">
                <div class="ui inverted transparent icon input">
                    <input type="text" id="search" class="form-control" placeholder={{ 'sylius.ui.search'|trans }} name="q" value="{{ searchTerm|default('') }}">
                    <i class="search link icon"></i>
                </div>
            </form>
        </div>

        <a class="btn btn-link ml-lg-2 d-inline-flex align-items-center" href="{{ path('app_vehicle_manufacturers') }}">
            <img class="em-dimensions-1-5" src="{{ asset('ad-theme/images/car-search.svg', 'ADTheme') }}" alt="{{ 'vehicle.ui.by_automobile'|trans }}" />

            <div class="w-min-content text-left ml-2 line-height-1">{{ 'vehicle.ui.by_automobile'|trans }}</div>
        </a>
    </div>

    <div class="ui right stackable inverted menu ml-0 ml-lg-auto">
        {% if is_granted('ROLE_USER') %}
            <div>{{ 'sylius.ui.hello'|trans }} {{ app.user.customer.fullName }}!</div>
            <a href="{{ path('sylius_shop_account_dashboard') }}">{{ 'sylius.ui.my_account'|trans }}</a>
            <span class="px-1 text-muted">|</span>
            <a href="{{ path('sylius_shop_logout') }}">{{ 'sylius.ui.logout'|trans }}</a>
        {% else %}
            <a href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.login'|trans }}</a>
            <span class="px-1 text-muted">|</span>
            <a href="{{ path('sylius_shop_register') }}">{{ 'sylius.ui.register'|trans }}</a>
        {% endif %}
    </div>
</div>
