{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}
{% import '@SyliusShop/Common/Macro/pagination.html.twig' as pagination %}
{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

{{ sonata_block_render_event('sylius.shop.product.index.before_search', {'products': resources.data}) }}

{{ sonata_block_render_event('sylius.shop.product.index.after_search', {'products': resources.data}) }}

{% if not (currentTaxon is defined and currentTaxon.level <= 1) %}

    <div class="d-flex justify-content-between my-3">
        <h3 class="mb-0 d-flex align-items-center">{{ 'app.ui.search_results'|trans }}:</h3>

        <div class="d-flex">
            {% include '@SyliusShop/Product/Index/_pagination.html.twig' %}
            {% include '@SyliusShop/Product/Index/_sorting.html.twig' %}
        </div>
    </div>

    {{ sonata_block_render_event('sylius.shop.product.index.before_list', {'products': resources.data}) }}

    {% set count = resources.data.currentPageResults|length %}

    {% if count > 0 %}
        <div>
            {% for product in resources.data %}
                {% include '@SyliusShop/Product/_boxSearch.html.twig' %}

                {% if loop.index == 6 or (loop.index == count and count < 6) %}
                    {% set productPageMiddleBanner = omni_sylius_banner_zone('product-page-middle') %}

                    {% if productPageMiddleBanner|trim|length %}
                        <div class="col-12" style="margin-bottom: 10px;">
                            {{ productPageMiddleBanner }}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        {{ sonata_block_render_event('sylius.shop.product.index.before_pagination', {'products': resources.data}) }}

        <div class="d-flex justify-content-end mt-3">
            {{ pagination.simple(resources.data) }}
        </div>

        {% include '@SyliusShop/Product/Show/_analogueModalView.html.twig' %}
    {% else %}
        {{ messages.info('sylius.ui.no_results_to_display') }}
    {% endif %}

{% endif %}
