<div class="card border-0">
    {{ form_start(form, {'action': path('sylius_shop_cart_save'), 'attr': {'class': 'loadable', 'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    <input type="hidden" name="_method" value="PATCH"/>

    {{ sonata_block_render_event('sylius.shop.cart.summary.items', {'cart': cart, 'form': form}) }}

    <div class="table-responsive mb-3">
        <table class="table mb-0">
            <thead class="card-header">
                <tr class="border">
                    <th class="border-0 "></th>
                    <th class="border-0 text-nowrap">{{ 'sylius.ui.item'|trans }}</th>
                    <th class="border-0 text-nowrap text-center">{{ 'sylius.ui.unit_price'|trans }}</th>
                    <th class="border-0 text-nowrap text-center">{{ 'sylius.ui.qty'|trans }}</th>
                    <th class="border-0 text-nowrap text-right">{{ 'sylius.ui.total'|trans }}</th>
                </tr>
            </thead>

            <tbody>
            {% for key, item in cart.items %}
                {% include '@SyliusShop/Cart/Summary/_item.html.twig' with {'item': item, 'form': form.items[key]} %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-flex flex-column mt-2 mt-lg-0 flex-sm-row justify-content-between p-0">
        {% if form.promotionCoupon is defined %}
            <div class="col-12 col-sm-7 mt-2 mb-2 mt-sm-0 mb-sm-0 p-0 pr-sm-2">
                {{ sonata_block_render_event('sylius.shop.cart.summary.before_coupon', {'cart': cart, 'form': form}) }}

                {% include '@SyliusShop/Cart/Summary/_coupon.html.twig' with {'form': form.promotionCoupon} %}

                {{ sonata_block_render_event('sylius.shop.cart.summary.after_coupon', {'cart': cart, 'form': form}) }}
            </div>
        {% endif %}

        <div class="col-12 col-sm-5 text-right p-0 pl-sm-2">
            {% include '@SyliusShop/Cart/Summary/_update.html.twig' %}
        </div>
    </div>
    {{ form_row(form._token) }}

    {{ form_end(form, {'render_rest': false}) }}
</div>
