{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

<button type="submit" class="btn btn-primary w-100">
    <span class="btn-icon">{{ icons.reload() }}</span>
    {{ 'sylius.ui.update_cart'|trans }}
</button>
