{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{{ sonata_block_render_event('sylius.shop.product.index.before_box', {'product': product}) }}

<div class="slide-card">
    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'class': 'card-img-top'} %}
    </a>
    <div class="slide-card-body text-center">
        <h6>{{ product.name }}</h6>
        {% if not product.variants.empty() %}
            <span class="slide-card-price">{{ money.calculatePrice(product|sylius_resolve_variant) }}</span>
        {% endif %}
    </div>
</div>

{{ sonata_block_render_event('sylius.shop.product.index.after_box', {'product': product}) }}

{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

