{% extends '@SyliusShop/layout.html.twig' %}

{% block title %} | {{ 'sylius.ui.complete'|trans }}{% endblock %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    {% include '@SyliusShop/Checkout/_steps.html.twig' with {'active': 'complete', 'orderTotal': order.total} %}

    {{ sonata_block_render_event('sylius.shop.checkout.complete.after_steps', {'order': order}) }}

    <div>
        {% include '@SyliusShop/Checkout/Complete/_header.html.twig' %}

        {{ sonata_block_render_event('sylius.shop.checkout.complete.after_content_header', {'order': order}) }}

        {% include '@SyliusShop/_flashes.html.twig' %}

        {{ form_start(form, {'action': path('sylius_shop_checkout_complete'), 'attr': {'class': 'loadable', 'novalidate': 'novalidate'}}) }}
            {{ form_errors(form) }}
            <input type="hidden" name="_method" value="PUT" />

            {{ sonata_block_render_event('sylius.shop.checkout.complete.before_summary', {'order': order, 'form': form}) }}

            {% include '@SyliusShop/Common/Order/_summary.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.checkout.complete.after_summary', {'order': order}) }}

            {% include '@SyliusShop/Checkout/Complete/_form.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.checkout.complete.before_navigation', {'order': order}) }}

            {% include '@SyliusShop/Checkout/Complete/_navigation.html.twig' %}

            {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
    {% if app.environment == 'prod' %}
        <script>
            document.getElementsByName('sylius_checkout_complete')[0].addEventListener("submit", function() {
                gtag('event', 'purchase', {
                        'transaction_id': '{{ order.id }}',
                        'affiliation': 'automobiliudetales.lt',
                        'value': {{ order.total / 100 }},
                        'currency': "{{ order.currencyCode }}",
                        'tax': {{ order.taxTotal / 100 }},
                        'shipping': {{ order.shippingTotal / 100 }},
                        'items': [
                            {% for item in order.items %}
                            {% set product = item.getVariant.product %}
                            {
                                'id': '{{ item.variant.id }}',
                                'name': '{{ product.name ~ ' ' ~ item.variant.name }}',
                                'category': '{{ app_get_product_internal_category(product) }}',
                                'quantity': '{{ item.quantity }}',
                                'price': '{{ item.unitPrice / 100 }}',
                            },
                            {% endfor %}
                        ]
                    }
                );
            });
        </script>
    {% endif %}
{% endblock %}
