<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
        <div class="d-md-none mt-3 navbar-nav py-1">
            {{ render(url('sylius_shop_partial_taxon_index_by_codes_sorted', {
                'template': '@SyliusShop/Homepage/_topCategoriesList.html.twig',
                'codes': constant('App\\Entity\\Taxonomy\\TaxonInterface::HOMEPAGE_CODES'),
            })) }}
        </div>

        <div class="d-lg-none py-3 border-top">
            {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

            {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

            {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}
        </div>

        <div class="d-md-none py-3 border-top">
            <div>
                {% include '@SyliusShop/Homepage/_upperHeaderLeft.html.twig' %}
            </div>

            <div>
                {% include '@SyliusShop/Homepage/_upperHeaderRight.html.twig' %}
            </div>
        </div>
    </div>
</nav>
