<div class="text-center my-3">
    <h3>
        <a href="mailto: {{ sylius.channel.contactEmail }}">{{ sylius.channel.contactEmail }}</a>
    </h3>
    <div class="mb-3">{{ 'shop24.ui.need_help'|trans }}</div>
    <div class="h1">
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-paypal"></i>
    </div>
</div>
