{% set billingData = invoice.billingData %}

<h4 class="ui top attached styled header">
    {{ 'sylius_invoicing_plugin.ui.buyer'|trans }}
</h4>
<div class="ui attached segment" id="billing-data">
    <address>
        <strong>{{ billingAddress.firstName }} {{ billingAddress.lastName }}</strong>
        {% if billingAddress.company %}
            {{ billingAddress.company }}<br/>
        {% endif %}
        {{ billingAddress.street }}
        {% if billingAddress.houseNumber %} {{ billingAddress.houseNumber }}{% endif %}
        {% if billingAddress.apartmentNumber %}- {{ billingAddress.apartmentNumber }}{% endif %}
        <br/>
        {{ billingAddress.city }}<br/>
        <i class="{{ billingAddress.countryCode|lower }} flag"></i>
        {{ billingAddress.countryCode|sylius_country_name|upper }} {{ billingAddress.postcode }}
    </address>
</div>
