{% block choice_row %}
    <div class="ch-cookie-consent__category">
        <div class="ch-cookie-consent__category-toggle">
            {% for child in form %}
                {% if not child.rendered %}
                    {{- form_widget(child) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                {% endif %}
            {% endfor %}
        </div>
        <div class="ch-cookie-consent__category-information">
            <h4 class="ch-cookie-consent__category-title">{{ ('cookie_consent.'~name~'.title')|trans }}</h4>
            <p class="ch-cookie-consent__category-description">{{ ('cookie_consent.'~name~'.description')|trans }}</p>
        </div>
    </div>
{% endblock %}

{% block submit_row %}
    <div class="ch-cookie-consent__btn-wrapper">
        {{ block('button_widget') }}
    </div>
{% endblock %}
