<div class="">
    <h1 class="mb-4">{{ 'shop24.ui.payment_methods'|trans }}</h1>
    <div>
        {{ form_errors(form.method) }}

        {% for key, choice_form in form.method %}
            {% include '@SyliusShop/Checkout/SelectPayment/_choice.html.twig' with {'form': choice_form, 'method': form.method.vars.choices[key].data} %}
        {% else %}
            {% include '@SyliusShop/Checkout/SelectPayment/_unavailable.html.twig' %}
        {% endfor %}
    </div>
</div>
