{% set manufacturerId = app.request.query.get('m') %}
{% set articleId = app.request.query.get('a') %}
{% set activeTabClass = 'active' %}
{% set hasDetailsTab = product.description is not empty %}
{% set isVehiclesTabActive = manufacturerId and articleId %}
{% set isStocksTabActive = not (isVehiclesTabActive or hasDetailsTab) %}

{% if hasDetailsTab %}
    <a class="nav-item nav-link mb-0 {{ isVehiclesTabActive ? '' : activeTabClass }}" href="#nav-details" data-toggle="tab">{{ 'sylius.ui.details'|trans }}</a>
{% endif %}

<a class="nav-item nav-link mb-0 {{ isStocksTabActive ? activeTabClass : '' }}" href="#nav-stock" data-toggle="tab">{{ 'product.ui.stock'|trans }}</a>

{% if product.getOeNumbers()|length > 0 %}
    <a class="nav-item nav-link mb-0" href="#nav-oeNumbers" data-toggle="tab">{{ 'app.ui.oe_codes'|trans }}</a>
{% endif %}

{% set attributes = product.tecDocAttributes|merge(product.getAttributesByLocale(configuration.request.locale, configuration.request.defaultLocale, sylius_base_locale)|sort_by('attribute.position')) %}
{% if attributes|length > 0 %}
    <a class="nav-item nav-link mb-0" href="#nav-parameters" data-toggle="tab">{{ 'sylius.ui.parameters'|trans }}</a>
{% endif %}

{% if product.tecDocDocuments|length > 0 %}
    <a class="nav-item nav-link mb-0" href="#nav-documents" data-toggle="tab">{{ 'app.ui.documents'|trans }}</a>
{% endif %}

{% if product.hasVehicles %}
    <a class="nav-item nav-link compatible-vehicles-nav mb-0 {{ isVehiclesTabActive ? activeTabClass : '' }}" href="#nav-compatible" data-toggle="tab">{{ 'app.ui.suitable_for_cars'|trans }}</a>
{% endif %}
