{{ sonata_block_render_event('sylius.shop.product.show.tab_attributes', {'product': product}) }}

{% set attributes = product.tecDocAttributes|merge(product.getAttributesByLocale(configuration.request.locale, configuration.request.defaultLocale, sylius_base_locale)|sort_by('attribute.position')) %}

<table class="table table-borderless-head">
    <tbody>
        {% for attribute in attributes %}
            <tr>
                <th style="width: 20%;">{{ attribute.name }}</th>
                <td>
                    {% include [('@SyliusAttribute/Types/'~attribute.attribute.type~'.html.twig'), '@SyliusAttribute/Types/default.html.twig'] with {'attribute': attribute, 'locale': configuration.request.locale, 'fallbackLocale': configuration.request.defaultLocale} %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
