{% set node = omni_sylius_get_request_node() %}
{% if node is empty %}
    {{ render(url('sylius_shop_partial_taxon_show_by_slug', {
        'slug': app.request.attributes.get('slug'),
        'template': '@SyliusShop/Taxon/_verticalMenu.html.twig'
    })) }}
{% else %}
    {% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

    <div class="card mb-4">
        <div class="card-header">{{ node.title }}</div>
        <div class="list-group list-group-flush">
            {% if node.parent is not empty and node.parent.root != node.parent %}
                {% set parentUrl = omni_sylius_get_node_url(node.parent) %}
                {% if parentUrl.url %}
                    <a href="{{ parentUrl.url }}" {% if parentUrl.target %}target="{{ parentUrl.target }}" {% endif %}class="list-group-item list-group-item-action">
                        {{ icons.arrowUp }}{{ 'sylius.ui.go_level_up'|trans }}
                    </a>
                {% endif %}
            {% endif %}

            {% for child in node.children if child.enabled %}
                {% set childUrl = omni_sylius_get_node_url(child) %}
                {% if childUrl.url %}
                    <a href="{{ childUrl.url }}" {% if childUrl.target %}target="{{ childUrl.target }}" {% endif %}class="list-group-item list-group-item-action">{{ child.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
