{% extends '@SyliusShop/layout.html.twig' %}

{% block title %} | {{ node.title }}{% endblock %}

{% block content %}
    {{ omni_sylius_cms_render_node(node) }}
{% endblock %}

{% block metatags %}
    {{ omni_seo_meta() }}
{% endblock %}
