{% form_theme form '@CHCookieConsent/form/cookie_consent_theme.html.twig' %}

<style>
    .cookie-modal {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        -webkit-transition: 0.5s;
        overflow: auto;
        transition: all 0.3s linear;
        padding: 20px;
    }

    .cookie-modal-content {
        background-color: #fefefe;
        margin: auto;
        border-radius: 4px;
        max-width: 500px;
        width: 100%;
    }

    .ch-cookie-consent {
        background-color: #fff;
        width: 100%;
        z-index: 99999;
        padding: 20px 20px;
    }

    .ch-cookie-consent__form {
        margin-top: 20px;
    }

    .ch-cookie-consent__category {
        border-bottom: 1px solid #000;
        padding: 15px 0;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
    }

    @media screen and (max-width: 641px) {
        .ch-cookie-consent__category {
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }
    }

    .ch-cookie-consent__category:first-child {
        border-top: 1px solid #000;
    }

    .ch-cookie-consent__category-toggle {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    @media screen and (max-width: 641px) {
        .ch-cookie-consent__category-toggle {
            margin-top: 20px;
        }
    }

    .ch-cookie-consent__category-toggle input {
        opacity: 0;
        position: absolute;
        left: -10000px;
    }

    .ch-cookie-consent__category-toggle input+label {
        background-repeat: no-repeat;
        background-position: 45px center;
        background-color: #fff;
        border: 1px solid #223462;
        transition: all .2s;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 0 !important;
        cursor: pointer;
        border-radius: 6px;
        padding: 0.375rem 0.75rem;
        font-size: 0.88rem;
        line-height: 1.7;
    }

    .ch-cookie-consent__category-toggle input+label::before,
    .ch-cookie-consent__category-toggle input+label::after {
        content: '';
    }

    .ch-cookie-consent__category-toggle input:checked+label,
    .ch-cookie-consent__category-toggle input+label:hover {
        color: #fff;
        border-color: #fff;
    }

    .ch-cookie-consent__category-toggle input:disabled:not(:checked)+label {
        pointer-events:none;
        opacity: 0.5;
    }

    .ch-cookie-consent__category-title {
        margin: 0;
    }

    .ch-cookie-consent__category-description {
        margin: 0;
    }

    .ch-cookie-consent__btn {
        margin-top: 25px;
        background: linear-gradient(349.19deg, #CF1E34 0%, #EE365F 100%);
        color: #fff;
        padding: 0.375rem 0.75rem;
        font-size: 0.88rem;
        line-height: 1.7;
        display: -ms-flexbox;
        display: flex;
        margin-left: auto;
        text-align: center;
        border-radius: 6px;
        box-shadow: 0 26px 10px -21px rgba(0, 0, 0, 0.28);
    }

    .ch-cookie-consent__btn:hover {
        color: #fff;
    }

</style>

<div id="cookieModal" class="cookie-modal d-flex">
    <div class="cookie-modal-content align-self-center">
        <div class="ch-cookie-consent rounded ch-cookie-consent--{{ theme }}-theme ch-cookie-consent--{{ position }} {% if simplified %}ch-cookie-consent--simplified{% endif %}">
            {% block title %}
                <h3 class="ch-cookie-consent__title">{{ 'cookie_consent.title'|trans }}</h3>
            {% endblock %}

            {% block intro %}
                <p class="ch-cookie-consent__intro mb-0">{{ 'cookie_consent.intro'|trans }}</p>
            {% endblock %}

            {{ form_start(form, {'attr': {'class': 'ch-cookie-consent__form'}}) }}
            <div class="ch-cookie-consent__category-group">
                {{ form_row(form.children['necessary']) }}
                {% for child in form %}
                    {% if child.vars.block_prefixes[0] != 'button' %}
                        {{ form_row(child) }}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="ch-cookie-consent__btn-group">
                {{ form_rest(form) }}
                {% if simplified %}
                    <div class="ch-cookie-consent__toggle-details">
                        <span class="ch-cookie-consent__toggle-details-show">{{ 'cookie_consent.show_details'|trans }}</span>
                        <span class="ch-cookie-consent__toggle-details-hide">{{ 'cookie_consent.hide_details'|trans }}</span>
                    </div>
                {% endif %}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script type="text/javascript">
  $('input#cookie_consent_analytics_0').click();
</script>
