{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}
    {% block lexik_title %}{% endblock %}
{% endblock %}

{% block stylesheets %}
    {% block lexik_stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/lexiktranslation/ng-table/ng-table.min.css') }}">
    {% endblock %}

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% block lexik_javascript_footer %}
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
        <script src="{{ asset('bundles/lexiktranslation/ng-table/ng-table.min.js') }}"></script>
    {% endblock %}
{% endblock %}

{% block content %}
    {% block lexik_content %}{% endblock %}
{% endblock %}
