h1 {
    font-size: 2.5rem;
}

.order-number {
    padding: 0 16px;
    color: $primary;
}

.price-per-kg {
    font-size: 0.875rem;
    padding-left: 16px;
    padding-bottom: 8px;
}

.section-header {
    font-size: 1.75rem;
}

.reviews-average, .reviews-stars {
    min-width: 160px;
    text-align: center;
    margin: 0 40px;
    .rating-number {
        font-size: 2.75rem;
        color: $black;
    }
    .rating-stars {
        text-align: center;
        font-size: 1.1rem
    }
    .review-number {
        text-align: center;
    }
}

.text-orange {
    color: $orange-star;
}

.review-bar-container {
    max-width: 600px;
    width: 100%;
    color: $black;
}

.review-bar {
    display: flex;
    align-items: center;
    padding-left: 8px;
    height: 22px;
    min-width: 24px;
    font-size: 0.75rem;
    font-weight: bold;
    color: $black;
    &.review-bar-1 { background-color: $review-bar-1; }
    &.review-bar-2 { background-color: $review-bar-2; }
    &.review-bar-3 { background-color: $review-bar-3; }
    &.review-bar-4 { background-color: $review-bar-4; }
    &.review-bar-5 { background-color: $review-bar-5; }
}
