{% block subject %}
    Order confirmation
{% endblock %}

{% block body %}
    {% set url = order.channel.hostname is not null ? url_scheme ~ '://' ~ order.channel.hostname ~ path('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) : url('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) %}
    {% autoescape %}
        Your order no. {{ order.number }} has been successfully placed.
        <br/>
        To view order or change payment method - please visit <a href="{{ url|raw }}">{{ url|raw }}</a>
        <br/><br/>
        Thank you for shopping at our store!
    {% endautoescape %}
{% endblock %}
