<div class="card border-0">
    <div class="card-header bg-transparent pt-0 border-bottom-0">
        <nav class="nav nav-tabs card-header-tabs">
            {% include '@SyliusShop/Product/Show/Tabs/_menu.html.twig' %}
        </nav>
    </div>
    <div class="card-body">
        <div class="tab-content">
            {% include '@SyliusShop/Product/Show/Tabs/_content.html.twig' %}
        </div>
    </div>
</div>
