{% block subject %}
    {{ 'email.contact_request.subject'|trans }}
{% endblock %}

{% block body %}
    {% include '@SyliusShop/Email/layout.html.twig' with {
        'body': 'email.contact_request.body'|trans({'email': data.email, 'message':  data.message|nl2br}),
    } %}
{% endblock %}
