<footer id="footer" class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="footer__grid row">
            {{ sonata_block_render_event('sylius.shop.layout.before_footer') }}

            {% set footerNode = omni_sylius_get_node_with_children_by_type('footer_menu', 2) %}

            <div class="three wide column pl-4 pr-4">
                <h4 class="ui inverted header mb-4">{{ 'app.ui.main_links'|trans }}:</h4>

                {% for placeholder in footerNode.children|default([]) if placeholder.enabled %}
                        <div class="ui inverted link list mt-0">
                            {% for item in placeholder.children if item.enabled %}
                                {% set url = omni_sylius_get_node_url(item) %}
                                <a class="h6 text-link m-b-5 text-decoration-none"{% if url.url %}
                                    href="{{ url.url }}"{% if url.target %}
                                    target="{{ url.target }}"{% endif %}{% endif %}
                                >
                                    {{ item.translation.title }}
                                </a>
                            {% endfor %}
                        </div>
                {% endfor %}
            </div>

            <div class="three wide column pl-4 pr-4 d-flex flex-column">
                <h4 class="ui inverted header mb-4">{{ 'app.ui.find_out_first_about_discounts'|trans }}:</h4>
                <form action="{{ path('bitbag_sylius_mailchimp_plugin_newsletter_subscribe') }}" method="POST" class="ui form" id="footer-newsletter-form">
                    <div class="success-element"></div>
                    <div class="validation-element"></div>
                    <div class="inline field">
                        <input type="text"
                               id="newsletter-email" name="email" class="form-control"
                               placeholder="{{ 'newsletter.form.email'|trans }}"
                        />
                        <input type="hidden" id="newsletter-token" name="_token" value="{{ csrf_token('newsletter') }}">
                        <button title="{{ 'newsletter.form.subscribe' }}" type="submit" style="margin-top: 5px;" class="btn btn-primary">
                            {{ 'newsletter.form.subscribe'|trans }}
                        </button>
                    </div>
                </form>
                <h6 class="mt-2 mb-4">{{ 'app.ui.you_can_find_us_on'|trans }}:
                    <a href="{{ 'app.ui.facebook_link'|trans }}" target="_blank">
                        <i class="fab fa-facebook mt-0 mb-0 ml-1 h2"></i>
                    </a>
                </h6>
            </div>

            <div class="three wide column pl-4 pr-4">
                <a href="{{ path('sylius_shop_homepage') }}">
                    <img class="logo w-auto" src="{{ asset('ad-theme/images/logo.png', 'ADTheme') }}" alt="Automobiliudetales.lt logo" />
                </a>

                <p class="mt-2 shop-description">
                    {{ 'app.ui.shop_desription'|trans }}
                </p>
            </div>

            {{ sonata_block_render_event('sylius.shop.layout.after_footer') }}

            <div class="footer__grid__col">
                <h6 class="ui inverted header mt-4 mb-0 pl-4">&copy; {{ 'now' | date('Y') }} |  {{ 'app.ui.copyrights'|trans }}</h6>
            </div>
        </div>
    </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
