<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    {% block analytics_tracking %}
        {% include '@SyliusShop/_googleAnalytics.html.twig' %}
    {% endblock %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ asset('/favicon.ico') }}" type="image/x-icon">
    <title>{{ 'app.ui.owner_name'|trans }}{% block title %}{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block paysera %}
        {% include '@SyliusShop/_paysera.html.twig' %}
    {% endblock %}

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('ad-app', null, 'ADTheme') }}

        {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}
    {% endblock %}

    {% include '@SyliusShop/_facebook.html.twig' %}

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
</head>

<body class="d-flex flex-column min-vh-100">
{{ omni_sylius_banner_zone('before-header-zone') }}
{{ sonata_block_render_event('sylius.shop.layout.before_body') }}

{% block top %}
    <div class="bg-white border-bottom d-none d-md-block">
        <div class="container py-1">
            <div class="upper-header d-flex align-items-center">
                {% include '@SyliusShop/Homepage/_upperHeaderLeft.html.twig' %}

                <span class="flex-grow-1"></span>

                {% include '@SyliusShop/Homepage/_upperHeaderRight.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    <div class="shadow-sm sticky-top bg-white">
        <header class="container py-3 d-flex align-items-center">
            {% include '@SyliusShop/_header.html.twig' %}
        </header>
    </div>

    <div class="bg-light">
        <div class="container">
            {% include '@SyliusShop/Taxon/_horizontalMenu.html.twig' %}
        </div>
    </div>

    <div class="mb-2">
        {{ sonata_block_render_event('sylius.shop.layout.after_header') }}
    </div>
{% endblock %}

<div class="main-content container flex-grow-1">
    {% include '@SyliusShop/_flashes.html.twig' %}

    {{ sonata_block_render_event('sylius.shop.layout.before_content') }}

    {% block content %}
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.after_content') }}

    {{ omni_sylius_banner_zone('before-footer-zone') }}
</div>

{% block footer %}
    <div class="bg-light border-top py-5 mt-5">
        <div class="container">
            {% include '@SyliusShop/_footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set', {'locale': app.request.locale })) }}

    <script>
      window.postitApiKey = '{{ postit_api_key }}';
    </script>

    {{ encore_entry_script_tags('ad-app', null, 'ADTheme') }}

    {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
{% endblock %}

{{ sonata_block_render_event('sylius.shop.layout.after_body') }}

<div class="loading-overlay" data-js-loading-overlay>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

</body>
</html>
