{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% import '@SyliusShop/Product/_mainImagePath.html.twig' as mainImagePath %}

{{ sonata_block_render_event('sylius.shop.product.index.before_box', {'product': product}) }}
{% set variant = product|sylius_resolve_variant %}
{% set decorated_order_item = get_decorated_order_item_from_variant(variant) %}

<a class="text-decoration-none" href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
    <div class="slide-card d-flex flex-column h-100 rounded">
        <div class="slide-card-image position-relative h-0 pb-100 w-100" style="background-image: url('{{ mainImagePath.get(product) }}')">
            {% if decorated_order_item.hasDiscount %}
                <span class="badge badge-pill badge-danger m-3 absolute-top-right font-size-inherit">- {{ decorated_order_item.discountPercentage }}%</span>
            {% endif %}
        </div>

        <div class="slide-card-body text-left rounded-bottom d-flex flex-column h-100 justify-content-between border">
            <h6 class="mb-1 ucfirst">{{ product.name }}</h6>
            {% if not product.variants.empty() %}
                <p class="mb-0 mt-2 text-dark">
                    {% if decorated_order_item.hasDiscount %}
                        <small class="text-muted text-strikethrough">{{ money.convertAndFormat(decorated_order_item.fullPrice) }}</small>
                    {% endif %}

                    <strong>{{ money.convertAndFormat(decorated_order_item.discountedPrice) }}</strong>
                </p>
            {% endif %}
        </div>
    </div>
</a>

{{ sonata_block_render_event('sylius.shop.product.index.after_box', {'product': product}) }}

{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

