{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}
{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

{% set headerText = app.request.get('sliderHeaderText') %}
{% set productsCount = products|length %}

{% if productsCount %}
    {% if headerText is not null %}
        {% set headerClass = app.request.get('sliderHeaderClass') %}

        {{ headers.default(headerText, {'class': headerClass|default('')}) }}
    {% endif %}

    <div
        class="swiper-container"
        data-productcount="{{ productsCount }}"
    >
        <div class="swiper-wrapper">
            {% for product in products %}
                <div class=" swiper-slide col-6 col-lg-3">
                    {% include '@SyliusShop/Product/_boxSlide.html.twig' %}
                </div>
            {% endfor %}
        </div>

        <div class="swiper-button-prev">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="swiper-button-next">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
{% endif %}
