<div class="row">
    <div class="col">{{ form_row(form.firstName) }}</div>
    <div class="col">{{ form_row(form.lastName) }}</div>
</div>
{{ form_row(form.company) }}
{{ form_row(form.street) }}

{% include '@SyliusShop/Common/Form/_countryCode.html.twig' with {'form': form.countryCode} %}

<div class="row">
    <div class="col">{{ form_row(form.city) }}</div>
    <div class="col">{{ form_row(form.postcode) }}</div>
</div>
{{ form_row(form.phoneNumber) }}
{{ form_row(form.houseNumber) }}
{{ form_row(form.apartmentNumber) }}
