{% block subject %}
    {{ 'shop24.email.password_reset.subject'|trans }}
{% endblock %}

{% block body %}
    {% set url = channel.hostname is not null ? url_scheme ~ '://' ~ channel.hostname ~ path('sylius_shop_password_reset', { 'token': user.passwordResetToken}) : url('sylius_shop_password_reset', { 'token': user.passwordResetToken}) %}
    {% autoescape %}
        <div style="font-family: sans-serif; font-size: 16px; line-height: 22px;">
            {% include 'Email/emailLogo.html.twig' %}
            <p>
                {{ 'shop24.email.common.hello'|trans }} {{ user.username }},
            </p>
            <p>
                {{ 'shop24.email.password_reset.msg_a'|trans }} <a href="https://clientplaceholder.lt" style="color: #ffcc03;">https://clientplaceholder.lt</a> {{ 'shop24.email.password_reset.msg_b'|trans }}
            </p>
            <p>
                <a href="{{ url|raw }}" style="color: #ffcc03;">{{ 'shop24.email.password_reset.msg_c'|trans }}</a>
            </p>
            <p>
                {{ 'shop24.email.password_reset.msg_d'|trans }}: <a href="{{ url|raw }}" style="color: #ffcc03;">{{ url|raw }}</a>
            </p>
            <p>
                {{ 'shop24.email.password_reset.msg_e'|trans }}
            </p>
            <p>
                {{ 'shop24.email.common.yours'|trans }}, <br>
                {{ 'shop24.email.common.seller'|trans }}
            </p>
        </div>
    {% endautoescape %}
{% endblock %}
