<table class="table table-borderless table-striped">
    <tbody>
    {% for attribute in product.getAttributesByLocale(configuration.request.locale, configuration.request.defaultLocale, sylius_base_locale)|sort_by('attribute.position') %}
        <tr>
            <td>{{ attribute.name }}</td>
            <td class="text-dark">
                <strong>{% include [('@SyliusAttribute/Types/'~attribute.attribute.type~'.html.twig'), '@SyliusAttribute/Types/default.html.twig'] with {'attribute': attribute, 'locale': configuration.request.locale, 'fallbackLocale': configuration.request.defaultLocale} %}</strong>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
