{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

{{ sonata_block_render_event('sylius.shop.product.show.before_details', {'product': product}) }}

{% if product.description is not empty %}
    {{ headers.default('shop24.ui.product_details'|trans) }}
    <p>
        {{ product.description | nl2br }}
    </p>
{% else %}
    {{ 'sylius.ui.no_description'|trans }}.
{% endif %}
