{% macro node_item(dropdown) %}
    {% import _self as macros %}

    {% if dropdown.children|length > 0 %}
        <div class="dropdown ml-auto d-inline-block">
            <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                {{ dropdown.translation.title|trans }}
            </button>
            <div class="dropdown-menu dropdown-menu-md-right locales-dropdown">
                {% for item in dropdown.children|default([]) if item.enabled %}
                    {% set url = omni_sylius_get_node_url(item) %}

                    {% if url.url is not empty %}
                        <a class="dropdown-item" href="{{ url.url }}" target="{{ url.target }}">
                            {{ item.translation.title }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

{% set footerNode = omni_sylius_get_node_by_type('footer_menu') %}

{% if null != footerNode %}
    {% for node in footerNode.children %}
        {#TODO: node code is likely to change#}
        {% if node.code is same as("customer_care") and node.enabled%}
            {{ macros.node_item(node) }}
        {% endif %}
    {% endfor %}
{% endif %}

