<div class="main-block mb-4">
    {% set homepageBannerSlider = omni_sylius_banner_zone('homepage-main-block-banner-zone') %}
    {% if homepageBannerSlider|length > 0 %}
        <div class="homepage-banner-slider-container mb-3">
            {{ homepageBannerSlider|raw }}
        </div>
    {% endif %}

    <div class="d-none d-md-flex justify-content-center flex-wrap">
        {{ render(url('sylius_shop_partial_taxon_index_by_codes_sorted', {
            'template': '@SyliusShop/Homepage/_topCategoriesList.html.twig',
            'codes': constant('App\\Entity\\Taxonomy\\TaxonInterface::HOMEPAGE_CODES'),
        })) }}
    </div>
</div>
