{% import '@SyliusShop/Common/categoryIcons.html.twig' as categoryIcons %}

{% macro render_category(taxon) %}
    {% set path = categoryIcons.getImagePathByTaxonCode(taxon.code) %}
    {% if path %}
        {% set icon %}
            <img class="em-dimensions-1-5 mr-2" src="{{ categoryIcons.getImagePathByTaxonCode(taxon.code) }}" alt="{{ taxon.name }}">
        {% endset %}
    {% endif %}

    <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}" class="btn btn-link d-flex text-dark text-left text-nowrap">
        {{ icon|default }}
        {{ taxon.name }}
    </a>
{% endmacro %}

{% import _self as macros %}

{% for taxon in taxons|default([]) %}
    {{ macros.render_category(taxon) }}
{% endfor %}

<a class="btn btn-link text-left text-nowrap" href="{{ path('app_taxons_index') }}">
    <small><i class="fas fa-greater-than mr-2"></i></small>{{ 'app.ui.all_taxons'|trans }}
</a>
