<div class="row align-items-center no-gutters no-wrap">
    <div class="col">
        <a href="{{ path('sylius_shop_homepage') }}"><img class="logo" src="{{ asset('bootstrap-theme-product-v4/images/logo.svg', 'bootstrapThemeProductV4') }}" alt="" /></a>
    </div>
    <div class="col-auto">
        {{ sonata_block_render_event('sylius.shop.layout.header') }}
    </div>
    <div class="col-auto d-flex align-items-center">
        <div class="d-none d-md-block text-right">
            {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

            {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

            {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}
        </div>
        <div class="ml-4">
            {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
        </div>
    </div>
    <div class="col-auto d-xl-none ml-2">
        <div class="navbar-light">
            <button class="navbar-toggler" type="button" hamburgerMenuOpen>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</div>
