{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% block pre_google_tag_manager %}
    <script>
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
            'transactionId': '{{ order.id }}',
            'transactionTotal': {{ order.total / 100 }},
            'transactionShipping': {{ order.shippingTotal / 100 }},
            'transactionTax': {{ order.taxTotal / 100 }},
            'transactionProducts': [
                {% for item in order.items %}
                {
                    'sku': '{{ item.variant.code }}',
                    'name': '{{ item.variant.name }}',
                    'price': {{ item.total / 100 }},
                    'quantity': {{ item.quantity }}
                }{{ loop.last ? "" : "," }}
                {% endfor %}
            ]
        });
    </script>
{% endblock %}

{% block content %}
    <div>
        <div>
            {% set lastPayment = order.payments.last() %}

            {{ headers.default('sylius.ui.thank_you'|trans, '', 'sylius.ui.placed_an_order'|trans) }}

            {{ sonata_block_render_event('sylius.shop.order.thank_you.after_message', {'order': order}) }}

            {% if lastPayment != false %}
                {% if lastPayment.method.instructions is not null %}
                    <div>
                        {% autoescape %}
                            {{ lastPayment.method.instructions|raw }}
                        {% endautoescape %}
                    </div>
                {% endif %}
                {% if order.customer.user is null %}
                    <a href="{{ path('sylius_shop_order_show', {'tokenValue': order.tokenValue}) }}"
                       class="btn btn-primary">{{ 'shop24.ui.view_your_order'|trans }}</a>
                {% else %}
                    <a href="{{ path('sylius_shop_account_order_index') }}"
                       class="btn btn-primary">{{ 'sylius.menu.shop.account.order_history'|trans }}</a>
                {% endif %}
            {% endif %}

            {% if order.customer.user is null %}
                <a href="{{ path('sylius_shop_register_after_checkout', {'tokenValue': order.tokenValue}) }}"
                   class="btn btn-primary">
                    {{ 'sylius.ui.create_an_account'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
